<!DOCTYPE html>
<html>
    <head>
        <title>ChatBot</title>
        <style>
            .box {
                position: absolute;
                bottom: auto;
                right: 40%;
            }
            td.bot>span {
                background-color:rgb(150, 209, 233);
                font-family: "Merriweather", serif;
                border-style: outset;
            }
            td.user>span {
                background-color:rgb(127, 238, 123);
                font-family: "Merriweather", serif;
                border-style: outset;
            }
            td.bot {
                text-align:left;
            }
            td.user {
                text-align:right;
            }
            table.chat{
                border-style: ridge;
                width:40%;
                overflow: auto;
            }            
        </style>
    </head>
    <body  onload = "loaded()">
        <table class = "chat" id="tbl" align=center>
            <h1 align="center">DarwinBot Chat</h1>
        </table>
        <div class = "box">
            <table>
                <tr>
                    <td>
                        <input type=text id="txt" name="user_input">
                    </td>
                    <td>
                        <input type="button" id="button_send" value="Send" placeholder="Enter your message here" onclick=chatbox()>
                    </td>
                </tr>
            </table>
        </div>
        <script>
            function loaded()
            {
                var input_txtbx = document.getElementById("txt");
                input_txtbx.addEventListener("keyup", function(event) {
                    if (event.keyCode === 13) 
                    {
                        event.preventDefault();
                        document.getElementById("button_send").click();
                        input_txtbx.value = "";
                    }
                });
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange=function(){
                    if( this.readyState == 4 && this.status == 200)
                    {
                        var reply = JSON.parse(this.responseText);
                        if(reply["username"] == "")
                        {
                            window.location.href = "/";
                            return false;
                        }
                        if(reply["history"] != "none")
                        {
                            for(var i=0;i<reply['bot'].length;i++)
                            {
                                add_bot_text(reply['bot'][i], "tbl");
                                add_user_text(reply['user'][i], "tbl");
                            }
                        }    
                        add_bot_text("Hey, " + reply['username'] + "!","tbl");
                        window.scrollTo(0, document.body.scrollHeight);
                    }
                };
                xhttp.open("GET","/get_uname",true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.send();
            }
            function add_user_text(user_, tbl_id)
            {
                tbl_row = document.createElement("tr");
                tbl_d = document.createElement("td");
                tbl_span = document.createElement("span");
                tbl_d.setAttribute("class","user");
                tbl_span.appendChild( document.createTextNode(user_) );
                tbl_d.appendChild(tbl_span);
                tbl_row.appendChild(tbl_d);
                document.getElementById(tbl_id).appendChild(tbl_row);
            }
            function add_bot_text(bot_, tbl_id)
            {
                tbl_row = document.createElement("tr");
                tbl_d = document.createElement("td");
                tbl_span = document.createElement("span");
                tbl_d.setAttribute("class","bot");
                tbl_span.appendChild( document.createTextNode(bot_) );
                tbl_d.appendChild(tbl_span);
                tbl_row.appendChild(tbl_d);
                document.getElementById(tbl_id).appendChild(tbl_row);
            }
            function chatbox()
            {
                user_input = document.getElementById("txt").value.trim().toLowerCase();
                if(user_input == "bye")
                {
                    window.location.href = "/logout";
                    return false;
                }
                add_user_text(user_input,"tbl");
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function(){
                    if( this.readyState == 4 && this.status == 200)
                    {
                        data=JSON.parse(this.responseText);
                        add_bot_text(data["response"], "tbl");
                        document.getElementById("txt").value="";
                        window.scrollTo(0, document.body.scrollHeight);
                    } 
                };
                data = { "user": user_input};
                xhttp.open("POST","/bot_response",true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.send(JSON.stringify(data));
            }
        </script>
    </body>
</html>